body {
  margin: 0;
  padding: 0;
  display: flex;

}

.container {
  flex-grow: 1;
  height: 100vh;
  display: flex;
  align-items: center;
}

.image-box, .login-box {
  background-color: white;
}

.image-box {
  height: 57%;
  width: 55%;
  display: flex;
  justify-content: center;
}

img {
  width: 50%;
}

.login-box {
  height: 47%;
  width: 45%;
  display: flex;
  align-items: center;
}

.form {
  border: 1px solid #ececec;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding-top: 0;
  width: 425px;
}

.form .input-box {
  padding: 15px 25px;
  width: 100%;
  /* ### GOOGLE THIS ### */
  box-sizing: border-box;
}

.form-title {
  text-align: center;
  background-color: royalblue;
  padding: 20px 0;
  font-size: 1.2em;
  font-family: sans-serif;
  color: #ececec;
}

input[type=text], input[type=password] {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
  font-size: 16pt;
  padding: 20px 5px;
  color:  rgba(121, 110, 110, 0.932);
  border: 1px solid rgb(218, 213, 213);
  outline: none;
}

.btn {
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  background-color: royalblue;
  border: none;
  font-size: 20px;
  color: #ececec;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.btn:hover {
  background-color: darkblue;
}

.btn:active{
  background-color: blue;
}

::placeholder,
::-webkit-input-placeholder {
  color: rgba(121, 110, 110, 0.932);
  padding: 10px;
}

#togglePassword {
margin-top: 5px;
margin-bottom: 15px;
}
label {
  padding: 10px;
  font-size: 20px;
  font-family: serif;
}
